name: Sync CMS to Plugins Repository
on:
  repository_dispatch:
    types: [sync_cms_to_repo]
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  sync-to-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Using Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '*'
          cache: 'npm'
          check-latest: true
      - name: Install dependencies
        run: npm install
      - name: Sync CMS to repo
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CMS_CHANGES: ${{ toJson(github.event.client_payload) }}

        run: bin/sync_cms_to_repo.sh
